<a href="https://colab.research.google.com/github/louvrehes/Numerical-Methods/blob/main/Intro%20to%20Numerical%20Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ANGELO, Jamaica Joy S.
<br>Section: <b>58101</b>

#Intro to Numerical Methods
##Demonstration

In [4]:
b = "sally" #this is a type of string
b = int(4)
b = "John"
print(b)

John

In [6]:
#CASTING

b = float(4) #this will display a floating or a decimal number.
print(b)

4.0

In [8]:
#Type() function

x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
#Strings

b = 'Sally'
print(b)

b = "Sally"
print(b)

Sally
Sally

In [16]:
#Case sensitive

b = 'Sally'
B = 4
print(b)
print(B)

Sally
4

###<b>MULTIPLE VARIABLES</b>

In [17]:
x,y,z = 'one', 'two', 'three'
print(x)
print(y)
print(z)

one
two
three

In [19]:
#One value for multiple variables:

x = y = z = 'one'
print(x)
print(y)
print(z)

one
one
one

###**OUTPUT VARIABLES**

In [20]:
x = "enjoying"
print("Python programming is "+ x)

Python programming is enjoying

In [24]:
x = "Python programming is "
y = "enjoying"
z = x + y
print(z)

Python programming is enjoying

##**ARITHMETIC OPERATIONS**

In [25]:
x = 5
y = 3
print(x + y)

8

In [29]:
x = 5
y = 3
sum = x + y
sum

8

### **ASSIGNMENT OPERATORS**

In [34]:
a, b, c = 0, -1, 6
c%=2 #This will display the remainder of 6 divided by 2. No spaces.
c

0

In [35]:
a, b, c = 0, -1, 5
c%=2 #This is the same as c/2.
c

1

##**COMPARISON OPERATORS**

In [37]:
x = 3
y = 5
compare = x > y
compare

False

In [38]:
x = 5
y = 3
compare = x > y
compare

True

## **LOGICAL OPERATORS**

In [39]:
x = 3
y = 5
x > x and y > y #neither of these returns any logical value.

False

In [41]:
x = 3
y = 5
x > 2 and y > 4

True

## **IDENTITY OPERATORS**

In [42]:
x = 3
y = 5
x is y

False

In [43]:
x = 3
y = 5
x is not y

True

## **BITWISE OPERATORS**